<div class="col-auto mb-3">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Название курса</h5>
            <h6 class="card-subtitle mb-2 text-muted">3 курс</h6>
            <p class="card-text">Краткое описание курса, текст для заполнения пространства в этом месте (потом тут будет описание курса)</p>
            <a asp-area="Education" asp-page="/Index" class="card-link btn btn-primary">На страницу курса</a>
            <a href="#" class="card-link btn btn-outline-primary">Sakai</a>
        </div>
    </div>
</div>