<div class="col-auto mb-3">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Название курса</h5>
            <h6 class="card-subtitle mb-2 text-muted">3 курс</h6>
            <p class="card-text">Краткое описание курса, текст для заполнения пространства в этом месте (потом тут будет описание курса)</p>
            <a asp-area="Education" asp-page="/About" class="card-link btn btn-primary">На страницу курса</a>
            <a href="https://sakai.dcn.icc.spbstu.ru/portal/site/47860b21-f845-43e7-845e-5ee0df176469/page/9e032aaa-66d7-480a-ac6e-4257608f0297?sakai.state.reset=true" target="_blank" class="card-link btn btn-outline-primary">Sakai</a>
        </div>
    </div>
</div>