@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p localize-content>
    Your password has been reset. Please <a asp-page="./Login" localize-content>click here to log in</a>.
</p>
