@page "/Users/Create"
@model CreateModel

@{
    ViewData["Title"] = "Create new user";
    ViewData["ActivePage"] = ManageNavPages.UsersManagement;
    var culture = CultureInfo.CurrentCulture.Name;
}


<partial name="_StatusMessage" model="Model.StatusMessage" xmlns="http://www.w3.org/1999/html"/>
<div class="container">
<div class="card shadow" style="max-width: 24rem">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control item" type="text" id="firstname">
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control item" type="text" id="lastname">
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" localize-content class="btn btn-success" content="Create"/>
                    <a asp-page="UsersList" class="btn btn-outline-secondary" asp-route-culture="@culture" localize-content>Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <localization-validation-scripts></localization-validation-scripts>
}