@page
@model DetailsModel

@{
    ViewData["Title"] = "User details";
    ViewData["ActivePage"] = ManageNavPages.UsersManagement;
}

<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="container">
    <div class="card shadow w-50">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="User.Email" localize-content>Email</label>
                <input asp-for="User.Email" class="form-control item" disabled="disabled">
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" localize-content>First Name</label>
                <input asp-for="User.FirstName" class="form-control item" type="text" disabled="disabled">
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" localize-content>Last Name</label>
                <input asp-for="User.LastName" class="form-control item" type="text" disabled="disabled">
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" localize-content>Phone Number</label>
                <input asp-for="User.PhoneNumber" class="form-control item" type="text" disabled="disabled">
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="User.Id"/>
                <a asp-page="UsersList" class="btn btn-primary" localize-content>Back to List</a>
            </div>
        </div>
    </div>
</div>