@page "{Id}"
@model UserFiles

@{
    ViewData["Title"] = "User files";
    ViewData["ActivePage"] = ManageNavPages.UsersManagement;
}
<div class="container">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
        </div>
        <div class="card-body">
            <ul>
                @foreach (var item in Model.Blobs)
                {
                    <li>
                        <a asp-page-handler="DownloadFile" asp-route-fileName="@item" asp-route-id="@Model.Id" class="icon-cloud-download"> @item </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    @*
    <input hidden="hidden" name="id" value="@Model.Id"/>*@
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="asset"/>
        <input type="submit"/>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}