@page
@model PluralsightASP.Pages.Account.Profile

@{
}

<main class="page">
    <section class="clean-block clean-form dark">
        @*<div class="container">*@

        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="list-group ">
                        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                        <a href="#" class="list-group-item list-group-item-action">User Management</a>
                        <a href="#" class="list-group-item list-group-item-action">Used</a>
                        <a href="#" class="list-group-item list-group-item-action">Enquiry</a>
                        <a href="#" class="list-group-item list-group-item-action">Dealer</a>
                        <a href="#" class="list-group-item list-group-item-action">Media</a>
                        <a href="#" class="list-group-item list-group-item-action">Post</a>
                        <a href="#" class="list-group-item list-group-item-action">Category</a>
                        <a href="#" class="list-group-item list-group-item-action">New</a>
                        <a href="#" class="list-group-item list-group-item-action">Comments</a>
                        <a href="#" class="list-group-item list-group-item-action">Appearance</a>
                        <a href="#" class="list-group-item list-group-item-action">Reports</a>
                        <a href="#" class="list-group-item list-group-item-action">Settings</a>


                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Your Profile</h4>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post">
                                        <div class="form-group row">
                                            <label for="username" class="col-4 col-form-label">Email*</label>
                                            <div class="col-12">
                                                <input id="username" name="email" asp-for="Email" class="form-control here" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="name" class="col-4 col-form-label">First Name</label>
                                            <div class="col-12">
                                                <input id="name" name="firstname" asp-for="FirstName" class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                            <div class="col-12">
                                                <input id="lastname" name="lastname" asp-for="LastName" class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                            <div class="col-12">
                                                <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="newpass" class="col-4 col-form-label">New Password</label>
                                            <div class="col-12">
                                                <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-4 col-12">
                                                <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </section>
</main>