@page
@model PluralsightASP.Areas.Education.Pages.About

@{
    ViewData["Title"] = "About course";
    ViewData["ActivePage"] = ManageNavPages.About;
}
<div class="container">
    <div class="block-heading">
            <h2 class="text-info" localize-content>Курс "Математическое моделирование"</h2>
        </div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            <partial name="_StatusMessage" model="Model.StatusMessage" localize-content/>
            <div class="container">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
                    </div>
                    <div class="card-body">
                        <div>Программа обучения инженеров-бакалавров высшей школы программной инженерии в
                             области моделирования включает два курса, первый из которых Математическое
                             моделирование.
                             Предполагается, что студент предварительно прослушал курсы: «Математика» («Линейная
                             алгебра», «Математический анализ»), «Численные методы», «Информатика» и знаком с
                             математическими пакетами Maple или Mathematica (дифференцирование, интегрирование,
                             дифференциальные уравнения), Matlab (матричные вычисления, решение
                             дифференциальных уравнений).
                             Основные разделы курса.
                             MМ_1. Моделирование и его роль в исследовании и проектировании. Математические
                             модели. Основные приемы построения математических моделей.
                             MМ_2. Вычислительный эксперимент. Основные этапы: построение модели, исследование
                             модели, определение границ применимости модели. Математические пакеты и среды
                             визуального моделирования.
                             MМ_3. Динамические системы. Качественные методы исследования. Устойчивость
                             динамических систем. Бифуркации. Хаос в динамических системах.
                             MМ_4. Событийно-управляемые динамические системы. Примеры и основные свойства.
                             Формальное описание на языке карт поведения (машин состояния).
                             MM_5. Введение в теорию колебаний. Свободные и вынужденные колебания.
                             MМ_6. Теория массового обслуживания. Марковские случайные процессы. Марковские
                             цепи.
                             MM_7. Вычислительный эксперимент в среде Rand Model Designer. Создание, отладка,
                             эксперименты с моделями.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>