@page
@model PluralsightASP.Areas.Education.Pages.About

@{
    ViewData["Title"] = "About";
    ViewData["ActivePage"] = ManageNavPages.About;
}
<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav"/>
    </div>
    <div class="col-md-9">


        <partial name="_StatusMessage" model="Model.StatusMessage" localize-content/>
        <div class="container">
            <div class="card shadow w-50">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
                </div>
                <div class="card-body">
                    <div>asdasdasd</div>
                </div>
            </div>
        </div>
    </div>
</div>>