@page
@model PluralsightASP.Areas.Education.Pages.Index

@{
}

<div class="container col-auto mt-2">
    <div class="row">
        <partial name="_CourseCardPartial"/>
        <partial name="_CourseCardPartial"/>
        <partial name="_CourseCardPartial"/>
        <partial name="_CourseCardPartial"/>
        <partial name="_CourseCardPartial"/>
    </div>
</div>