@if (User.Identity.IsAuthenticated)

{
    <div>@User.Identity.Name</div>
    <form class="form-inline" asp-page="Logout">
        <button type="submit" class="nav-link btn btn-link">Logout</button>
    </form>
}
else
{
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-page="/Login">Login</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" asp-page="/Register">Register</a>
    </li>
}