@page
@model PluralsightASP.Pages.Education

@{
}

<div class="card-deck">
    <div class="col-sm-6">
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
    </div>
    <div class="col-sm-6">
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
    </div>
</div>