@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="page features-page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" localize-content>Описание РМД и информация о моделировании</h2>
                <p>В описание можно вставить картинки, разделить его на РМД и моделирование или как-то еще разнообразить, 
                    эта страница будет главной, первой страницей, которую будет видеть пользователь</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="icon-star icon"></i>
                    <h4>Моделирование</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-pencil icon"></i>
                    <h4>Customizable</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-screen-smartphone icon"></i>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-refresh icon"></i>
                    <h4>All Browser Compatibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
            </div>
        </div>
    </section>
</main>