@page
@model PluralsightASP.Pages.Register

@{
}


<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Registration</h2>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control item" type="email" id="email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control item" type="password" id="password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label>
                    <input asp-for="PasswordConfirm" class="form-control item" type="password" id="passwordConfirm">
                    <span asp-validation-for="PasswordConfirm"></span>
                    
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </section>
</main>