@page
@model PluralsightASP.Pages.Science

@{
}


<div class="container col-auto mt-2">
    <div class="row">
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
        <partial name="Shared/_ProjectCardPartial"/>
    </div>
</div>