@page "{userId:int?}"
@using System.Security.Claims
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    
    <input type="hidden" asp-for="User.Id"/>
    <div class="form-group">
        <label asp-for="User.Name"></label>
        <input asp-for="User.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="User.Location"></label>
        <input asp-for="User.Location" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="User.Age"></label>
        <input asp-for="User.Age" class="form-control"/>
    </div>
    
</form>