@page
@model ListModel

@{
}

<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Age</th>
            </tr>
            </thead>
@*             <tbody> *@
@*             @foreach (var user in Model.Users) *@
@*                     { *@
@*                         <tr> *@
@*                             <td>@user.Name</td> *@
@*                             <td>@user.Location</td> *@
@*                             <td>@user.Age</td> *@
@*                         </tr> *@
@*                     } *@
@*             </tbody> *@
        </table>
    </div>
    <a asp-page="./Edit" class="btn btn-primary">
        Add User
    </a>
</div>