@page "/account/files"
@model PluralsightASP.Areas.Identity.Pages.Account.Manage.Files

@{
    ViewData["Title"] = "Files";
    ViewData["ActivePage"] = ManageNavPages.Files;
}
<div class="container">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" localize-content>@ViewData["Title"]</p>
        </div>
        <div class="card-body">
            <ul>
                @foreach (var item in Model.Blobs)
                {
                    <li>
                        <a asp-page-handler="DownloadFile" asp-route-fileName="@item" class="icon-cloud-download"> @item </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    
<form method="post" enctype="multipart/form-data">
    <input type="file" name="asset"/>
    <input type="submit" />
</form>
</div>
